In [51]:
import pandas as pd

In [52]:
df = pd.read_csv('커피빈매장.csv')
df

          Name                             Address           Tel
0     삼성봉은사거리점              서울시 강남구 영동대로 607 1,2층   02-3443-5618
1    코엑스웨스틴서울점    서울시 강남구 봉은사로 524 코엑스 인터컨티넨탈아케이드    02-569-3103
2      삼성오크우드점            서울 강남구 테헤란로87길 46 지하 2층   02-3466-8507
3      삼성봉은사로점            서울시 강남구 봉은사로 628 엘슨빌딩1층    02-538-4523
4      도심공항타워점         서울시 강남구 테헤란로87길 36 공항타워 1층   02-2016-5330
..         ...                                 ...           ...
208  강동경희대병원앞점          서울특별시 강동구 동남로 885 양지빌딩 1층    02-481-9938
209      새문안로점       서울특별시 종로구 새문안로 91 고려빌딩 1,2층     02-739-5806
210  광화문역1번출구점            서울시 종로구 새문안로5가길 7 1층 일부    02-723-3360
211   성균관대법학관점    서울시 종로구 성균관로 25-2 성균관대학교 법학관 B2    02-740-1958
212    경희궁의아침점   서울시 종로구 새문안로3길 23 경희궁아침상가4단지105외    02-730-8896

[213 rows x 3 columns]

In [53]:
import requests
import numpy as np

def get_location(address):
    url = "https://dapi.kakao.com/v2/local/search/address.json?query="+address
    headers = {'Authorization':'KakaoAK 3b1f91160f090c6816a03b93720659b4'}
    res = requests.get(url, headers=headers).json()
    if res['documents']:
        x=res['documents'][0]['x']
        y=res['documents'][0]['y']

    else:
        x = np.nan
        y = np.nan
    return x,y

In [54]:
x,y = get_location('서울시 강남구 영동대로 607')
x,y

('127.059486615422', '37.5145473024381')

In [55]:
store = pd.read_csv('커피빈매장.csv')
store['X']=''
store['Y']=''
store.head(2)

        Name                            Address           Tel X Y
0   삼성봉은사거리점             서울시 강남구 영동대로 607 1,2층   02-3443-5618
1  코엑스웨스틴서울점   서울시 강남구 봉은사로 524 코엑스 인터컨티넨탈아케이드    02-569-3103

In [56]:
for i in store.index:
    address = store.loc[i,'Address']
    x,y = get_location(address)
    store.loc[i, 'X']=x
    store.loc[i, 'Y']=y

In [57]:
store.head(2)
store.isnull().sum()
store.dropna(inplace=True)

In [58]:
store.isnull().sum()

Name       0
Address    0
Tel        0
X          0
Y          0
dtype: int64

In [59]:
store.head()

,Name,Address,Tel,X,Y
1,코엑스웨스틴서울점,서울시 강남구 봉은사로 524 코엑스 인터컨티넨탈아케이드,02-569-3103,127.057115600619,37.5129534255276
2,삼성오크우드점,서울 강남구 테헤란로87길 46 지하 2층,02-3466-8507,127.058205573267,37.5109823973192
3,삼성봉은사로점,서울시 강남구 봉은사로 628 엘슨빌딩1층,02-538-4523,127.064164448221,37.5146694627537
4,도심공항타워점,서울시 강남구 테헤란로87길 36 공항타워 1층,02-2016-5330,127.058597240146,37.5102336492314
5,트레이드타워점,서울시 강남구 영동대로 511 트레이드타워 지하1층,02-803-9994,127.061023782931,37.510356849269

In [60]:
store.to_csv('커피빈맵.csv', index=False)

In [61]:
store = pd.read_csv('커피빈맵.csv')
store

,Name,Address,Tel,X,Y
0,코엑스웨스틴서울점,서울시 강남구 봉은사로 524 코엑스 인터컨티넨탈아케이드,02-569-3103,127.057116,37.512953
1,삼성오크우드점,서울 강남구 테헤란로87길 46 지하 2층,02-3466-8507,127.058206,37.510982
2,삼성봉은사로점,서울시 강남구 봉은사로 628 엘슨빌딩1층,02-538-4523,127.064164,37.514669
3,도심공항타워점,서울시 강남구 테헤란로87길 36 공항타워 1층,02-2016-5330,127.058597,37.510234
4,트레이드타워점,서울시 강남구 영동대로 511 트레이드타워 지하1층,02-803-9994,127.061024,37.510357
...,...,...,...,...,...
189,강동경희대병원앞점,서울특별시 강동구 동남로 885 양지빌딩 1층,02-481-9938,127.155976,37.552654
190,새문안로점,"서울특별시 종로구 새문안로 91 고려빌딩 1,2층",02-739-5806,126.974761,37.570488
191,광화문역1번출구점,서울시 종로구 새문안로5가길 7 1층 일부,02-723-3360,126.974038,37.572771
192,성균관대법학관점,서울시 종로구 성균관로 25-2 성균관대학교 법학관 B2,02-740-1958,126.993115,37.587228
193,경희궁의아침점,서울시 종로구 새문안로3길 23 경희궁아침상가4단지105외,02-730-8896,126.972441,37.572631

In [62]:
#주소부분일치 지도 출력
address = '마포구'
filt = store['Address'].str.contains(address)
df = store[filt]
df.head()

,Name,Address,Tel,X,Y
21,마포경찰공제회점,"서울시 마포구 마포대로 78 (도화동 566), 경찰공제회 자람빌딩 1층",02-704-6591,126.949788,37.541897
32,홍대역8번출구점,서울시 마포구 양화로18안길 7 2층,02-338-9463,126.925088,37.556828
33,홍대역점,서울시 마포구 홍익로 6길 26,02-333-4278,126.923267,37.555472
50,상암SBS프리즘타워점,서울 마포구 상암산로 82 SBS 프리즘 타워 1층 로비,02-562-9605,126.892774,37.579716
51,상암SBS미디어센터점,서울시 마포구 상암산로 82 SBS프리즘타워 1층,02-2039-9027,126.892774,37.579716

In [69]:
#주소부분일치 지도 출력
store.to_csv('커피빈맵.csv')
address = '마포구'
filt = store['Address'].str.contains(address)
df = store[filt]
df.head()

import folium
import warnings
warnings.filterwarnings(action='ignore')
def get_map(address):
    filt = store['Address'].str.contains(address)
    df = store[filt]
    if len(df.index) ==0:
        print("찾을 수 없습니다.")
    else:
        first = df.head(1)
        x=first['X']
        y=first['Y']
        location = (y,x)
        map = folium.Map(location, zoom_start=10, width='100%', height='100%')

        for idx, row in df.iterrows():
            x = row['X']
            y = row['Y']
            name=row['Name']

            folium.Marker(location=[y,x],popup=folium.Popup(name, max_width=200),
                          icon=folium.Icon(color='red', icon='star')).add_to(map)
        map.save(f'{address}.html')

get_map('상암')